@import url("https://fonts.googleapis.com/css?family=Charm:400,700&display=swap");

.footer {
	font-family: "Charm", cursive;
	position: absolute;
	bottom: 0;
	height: 50px;
	font-weight: bold;
	font-size: 1.2rem;
}

.footer-p {
	width: 100vw;
	display: flex;
	justify-content: space-between;
}

.footer-a {
	position: relative;
	left: 1.5rem;
	text-decoration: none;
	color: black;
	font-size: 1.4rem;
}

.footer-a :hover {
	text-decoration: none;
}

.footer-span {
	font-size: 1.1rem;
	font-weight: normal;
}

.right {
	position: relative;
	right: 1.5rem;
}

.github {
	height: 25px;
	width: 25px;
}
